<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=|, initial-scale=1.0">
    <title>Project 2</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <div class = "search-bar">
        <input type="text" placeholder="Search">
    </div>
    <div class = "todays-date">
       <p>Today's Date</p>
    </div>
    <div class = "request">
        <button>
            Request a Sitter!
        </button>
    </div>
    <div class= "openings">
        <button>New openings!</button>
    </div>
    <div class = "parents">
       <p>Parents</p>
    </div>
    <div class = "children">
       <p>Children</p>
    </div>
    <div class= "profile">
        <button>Your Profile</button>
    </div>
    <div class="calendar">
        <p>Calendar</p>
</div>

</body>
</html>