{{!-- {{#each parents as |parent| }}
<div>
  <h1>{{parent.id}}</h1>
</div>
<div>
  <h1>{{parent.names}}</h1>
</div>
<div>
  <h1>{{parent.email}}</h1>
</div>
{{/each}} --}}

    {{!-- <div class = "search-bar">
        <input type="text" placeholder="Search">
    </div> --}}
    {{!-- <div class = "todays-date">
       <p>Today's Date</p>
    </div> --}}
    {{!-- <div class = "request">
        <button>
            Request a Sitter!
        </button>
    </div> --}}
    <div class= "btn btn-primary">
        {{!-- <button>New openings!</button> --}}
        <a href="/requests">View Requests</a>
    </div>
    {{!-- <div class = "parents">
       <p>Parents</p>
    </div>
    <div class = "children">
       <p>Children</p>
    </div> --}}
    {{!-- <div class= "profile">
        <button>Your Profile</button>
    </div> --}}
    {{!-- <div class="calendar">
    <p>Calendar</p>
</div> --}}
