body {
  background-color: #f7ede2 ;
}

img {
  max-width: 100%;
  height: auto;
}

.navbar {
  background-color: #84a59d;
  height: 60%;
  line-height: 60%;
}

.container {
  margin-left: 5%;
  margin-right: 5%;
}

.nav {
  display: inline;
  list-style-type: none;
}

.nav li {
  display: inline;
}

